<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmut.graduate.dailyfit.dao.MotionDao">
    <select id="findMotionBySortDuctility" resultType="xmut.graduate.dailyfit.pojo.Motion" parameterType="java.lang.String">
        select
        mid,
        source,
        level_num as levelNum,
        sort,
        motion_title as motionTitle
        from motion
        where sort = #{sort}
        and  level_num in(2,3);
    </select>
    <select id="findMotionBySortWeight" resultType="xmut.graduate.dailyfit.pojo.Motion" parameterType="java.lang.String">
        select
        mid,
        source,
        level_num as levelNum,
        sort,
        motion_title as motionTitle
        from motion
        where sort = #{sort}
        and  level_num in(4,5);
    </select>
    <select id="findMotionByMid" parameterType="java.lang.Integer" resultType="xmut.graduate.dailyfit.pojo.Motion">
        select
        mid,
        source,
        level_num as levelNum,
        sort,
        motion_title as motionTitle
        from motion
        where mid = #{mid}
    </select>
</mapper>