<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmut.graduate.dailyfit.dao.PlanDao">
    <insert id="insertPlan" parameterType="xmut.graduate.dailyfit.pojo.Plan">
         INSERT INTO plan (mid1,mid2,mid3,mid4,mid5,fate,week,uid)
        VALUES (#{mid1},#{mid2},#{mid3},#{mid4},#{mid5},#{fate},#{weekNum},#{uid})
    </insert>
</mapper>