<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmut.graduate.dailyfit.dao.UserDao">

    <select id="findByAllUser" resultType="xmut.graduate.dailyfit.pojo.User">
      select * from users
   </select>
    <select id="adminLogin" resultType="xmut.graduate.dailyfit.pojo.User" parameterType="xmut.graduate.dailyfit.pojo.User">
        SELECT username,password FROM users WHERE username = #{username} AND password = #{password}
    </select>
    <insert id="insertUser" parameterType="xmut.graduate.dailyfit.pojo.User">
        INSERT INTO users (username,img,addr)
        VALUES (#{username},#{img},#{addr})
    </insert>
    <!--通过username查询id-->
    <select id="findIdByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        uid
        from
        users
        where
        username = #{username}

    </select>
</mapper>